.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-image: url('/bg_projects.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.projects-header {
    display: flex;
    justify-content: center;
}

.projects-container .projects-header h2 {
    font-size: 45px;
    font-weight: bold;
    color: white;
    letter-spacing: 0.8px;
    margin: 40px;
}