.home-container {
    margin-top: 150px;
    width: 100%;
    
}

.tagline {
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid white;
    padding: 12px 18px;
    letter-spacing: 0.8px;
}

.main-text-container h1 {
    margin: 20px 0;
    font-size: 43px;
    font-weight: 700;
    letter-spacing: 0.8px;
    color: white;
}

.main-text-container p {
    color: white;
    font-size: 14px;
    letter-spacing: 0.8px;
    opacity: 0.8;
}

.main-text-container button {
    font-family: "Roboto", sans-serif;
    border: none;
    background-color: transparent;
    color: white;
    font-weight: 700;
    letter-spacing: 0.6px;
    display: flex;
    gap: 12px;
    transition: 0.2s ease-in-out;
}

.main-text-container button:hover {
    transform: scale(1.1);
}

.home-container img {
    width: 100%;
}